fastapi
uvicorn[standard]

sqlalchemy
SQLAlchemy-Utils
alembic
pydantic[email]
psycopg2-binary
pytest
python-dotenv
python-multipart
bcrypt
passlib
passlib[bcrypt]
python-jose[cryptography]
pycryptodome
pycryptodomex
cryptography
python-slugify
httpx